@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #00d1c5;
  --inactive: #cccccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  min-height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.debug {
  border: 1px solid red;
}

.bg-circle {
  background-color: var(--accent);
  position: absolute;
  border-radius: 50%;
  opacity: 0.1;
}

.bg-circle-top {
  @apply bg-circle right-0 top-0 h-[25vw] w-[25vw] translate-x-[45%] translate-y-[-45%];
}

.bg-circle-bottom {
  @apply bg-circle bottom-0 left-0 h-[15vw] w-[15vw] translate-x-[-45%] translate-y-[45%];
}

.hover {
  @apply transition ease-in-out duration-200;

  &:hover {
    opacity: 0.8;
  }
}

.progress-lines {
  position: relative;
  &::before,
  &::after {
    content: '';
    height: 4px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    background-color: var(--accent);
    left: 0;
    transform: translate(-100%, -50%);
  }

  &::after {
    background-color: var(--inactive);
    right: 0;
    transform: translate(100%, -50%);
  }
}
